# if need to change the default values
# copy this file as .env
# and change any value as needed
# must change: LOCAL_IP

LOCAL_IP=192.168.1.111
NETWORK=testnet
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=pos_z8X
NETWORK_ENDPOINT=https://sepolia.base.org
MMRPATH=/home
