version: '3'

services:
  postgres:
    image: postgres:12-alpine
    container_name: indexer_db
    ports:
      - 5432:5432
    volumes:
      - .data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: pos_z8X
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: indexer_cache
    ports:
      - 6379:6379
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']

  ipfs:
    image: ipfs/kubo:v0.20.0
    container_name: indexer_ipfs
    volumes:
      - .data/ipfs/export:/export
      - .data/ipfs/data:/data/ipfs
      - ./ipfs/ipfs.sh:/container-init.d/ipfs.sh:ro
    ports:
      - 4001:4001
      - 4001:4001/udp
      - 5001:5001
      - 8080:8080

  proxy:
    image: subquerynetwork/indexer-proxy:latest
    container_name: indexer_proxy
    ports:
      - 7370:7370/udp
      - 8001:8001
    restart: always
    command:
      - --port=8001
      - --auth
      - --debug
      - --jwt-secret=JwtSecret
      - --secret-key=ThisIsYourSecret
      - --metrics-token=MetricsToken
      - --token-duration=8 # query auth token validity [hours]
      - --network=testnet
      - --coordinator-endpoint=http://host.docker.internal:8000
      - --network-endpoint=https://rpc.ankr.com/polygon_mumbai
      - --redis-endpoint=redis://indexer_cache
    healthcheck:
      test: ['CMD-SHELL', 'curl http://localhost:8001/healthy >/dev/null 2>&1 || exit 1']
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  default:
    name: indexer_services
