[package]
name = "subql-indexer-proxy"
version = "2.5.0-beta.1"
edition = "2021"

[dependencies]
subql-indexer-utils = { version = "2", path = "../utils" }
subql-contracts = { git = "https://github.com/subquery/network-contracts", tag = "v1.3.0" }
aes-gcm = "0.10"
axum = { version = "0.6", features = ["ws"] }
axum-auth = "0.4"
axum-streams = { version = "0.10", features = ["json"] }
base64 = "0.22"
bincode = "1.3"
chamomile_types = "0.10"
chrono = "0.4"
digest = '0.10'
ethers = { git = "https://github.com/gakonst/ethers-rs.git", tag = "ethers-v2.0.7" }
hex = "0.4"
jsonwebtoken = "9.1"
redis = { version = "0.26", features = ["tokio-comp"] }
reqwest = { version = "0.12", features = ["json", "blocking"] }
reqwest-streams = { version = "0.7", features = ["json"] }
once_cell = "1.12"
prometheus-client = "0.21"
sha2 = '0.10'
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with={ version = "3.0", features = ["json"] }
structopt = "0.3"
sysinfo = "0.29"
tdn = { version = "0.10", default-features = false, features = ["multiple"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokenizers = { version = "0.19", features = ["http"] }
tokio = { version = "1", features = ["full"] }
tower-http = { version = "0.4", features = ["cors"] }
tokio-stream = { version = "0.1" }
tokio-tungstenite = { version = "0.23.0", features = ["native-tls"] }
futures-util= "0.3.30"
url = "2.2"
