version: "3"

services:
  postgres:
    image: postgres:12-alpine
    container_name: coordinator_db_dev
    ports:
      - 5432:5432
    volumes:
      - .data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  coordinator-service:
    # image: dev4mz/test4mz:0.1.1
    container_name: coordinator_service
    image: coordinator:latest
    # build:
    #   context: ../
    #   dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      "postgres":
        condition: service_healthy
    restart: always
    volumes:
      - /var/tmp/composeFiles:/var/tmp/composeFiles
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --postgres-host=postgres
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-i",
          "-X POST",
          "http://coordinator-service:8000/graphql",
          "-H 'Content-Type: application/json'",
          "-d '{ \"query\": \"query { accountMetadata { network } }\" }'"
        ]
      interval: 5s
      timeout: 5s
      retries: 5
  proxy-redis:
    image: redis:7-alpine
    container_name: coordinator_cache
    expose:
      - 6379
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]

  proxy-server:
    image: onfinality/subql-indexer-proxy:latest
    container_name: coordinator_proxy
    ports:
      - 80:80
    depends_on:
      "coordinator-service":
        condition: service_healthy
    restart: always
    command:
      - --port=80
      - --host=0.0.0.0
      - --auth
      - --debug
      - --jwt-secret=vOVH6sdmpNWjRRIqCc7rdxs
      - --network=moonbase
      - --network-endpoint=https://moonbeam-alpha.api.onfinality.io/public
      - --redis-endpoint=redis://coordinator_cache
      - --token-duration=8 # query auth token validity [hours]
      - --secret-key=vOVH6sdmpNWjRRIqCc7rdxs01lwHzfr3
      - --service-url=http://coordinator-service:8000
      - --bootstrap=/ip4/210.55.152.69/tcp/7370
networks:
  default:
    name: coordinator-service
