@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-family: var(--sq-font-family), Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
  font-family: var(--sq-font-family), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ant-primary-color: var(--sq-blue600);
}

.ant-btn-primary {
  background-color: var(--sq-blue600);
}

.ant-form-item-explain-error {
  overflow-wrap: anywhere;
}